<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstaidemo.mapper.OrderMapper">

    <select id="getOrderByOrderNo" resultType="com.example.firstaidemo.models.entity.OrderEntity">
        SELECT * FROM orders WHERE order_no = #{orderNo}
    </select>

</mapper>